.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  background: white;
  cursor: pointer;
  transition: background 1s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  border: 3px solid darkgreen;

  &:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }

  &.black {
    background: radial-gradient(circle, black 50%, green 100%);
    background-size: 0% 0%;
    background-position: center;
    animation: fillBox 1s ease forwards;
  }

  &.resetting {
    animation: unfillBox 1s ease forwards; /* Reverse animation */
  }
}

@keyframes fillBox {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 200% 200%;
  }
}

@keyframes unfillBox {
  0% {
    background-size: 200% 200%; /* Start fully filled */
  }
  100% {
    background-size: 0% 0%; /* Shrink back to initial size */
  }
}

.reset-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease;

  &:hover {
    background-color: rgb(49, 145, 49);
  }
}
